APP_NAME = "LearNova"
APP_VERSION = "0.1"

# ========================= Database config ====================
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_MAIN_DATABASE=

# ========================= LLM Config =========================
OPENAI_API_KEY = 


